<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>George Brocklehurst</string>
	<key>CFBundleDisplayName</key>
	<string>Choosy</string>
	<key>CFBundleIdentifier</key>
	<string>com.choosyosx.choosysafari5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>choosyContextMenuItem</string>
				<key>Identifier</key>
				<string>choosyContextMenuItem</string>
				<key>Title</key>
				<string>Open with Choosy</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>choosyToolbarItem</string>
				<key>Identifier</key>
				<string>choosyToolbarItem</string>
				<key>Image</key>
				<string>images/icon.png</string>
				<key>Label</key>
				<string>Choosy</string>
				<key>Palette Label</key>
				<string>Choosy</string>
				<key>Tool Tip</key>
				<string>Open with Choosy</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Integrates Choosy with Safari 5</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.choosyosx.com</string>
</dict>
</plist>
